<div class="contenedor-producto col-12 col-sm-6 col-md-4" data-nombre="{{nombre}}" onclick="agregarAlCarrito('{{nombre}}')">
    <p class="fs-2">{{nombre}}</p>
    <button><img src="{{imagen}}" alt="{{nombre}}" class="d-block mx-auto"></button>
</div>
